body{
  font-family: 'Slabo 27px', serif;
}
#footer{
  border: solid black;
  background-color: #32B61C;
  padding: 5px;
}
#stuff{
  border: solid black;
  background-color: #32B61C;
}
body{
  background-color: #30D515;
}
#header{
  text-align: center;
  background-color: #32B61C;
  border: solid black;
}
.hidden {
  visibility:hidden;
}
img{
  width: 500px;
}
#nav{
  padding: 10px
}
