body{
  font-family: 'Slabo 27px', serif;
}
#footer{
  border: solid black;
  background-color: #32B61C;
  padding: 5px;
}
#stuff{
  border: solid black;
  background-color: #32B61C;
}
body{
  background-color: #30D515;
}
#header{
  text-align: center;
  background-color: #32B61C;
  border: solid black;
}
.hidden {
  visibility:hidden;
}
img{
  width: 500px;
}
a.effect-box:after,
a.effect-box:before {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	
}

a.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

a.effect-box:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
  
